/* ====================================================================================  Whole Page  ============*/

  /* Fonts */

    /* Junicode / Foulis Greek */
    @font-face {
      font-family: "Junicode";
      src: url( fonts/junicode/Junicode.ttf);
      src: url('fonts/junicode/Junicode.ttf') format("truetype");
      font-weight: normal;
      font-style: normal;}

    @font-face {
      font-family: "Junicode";
      src: url( fonts/junicode/Junicode-Italic.ttf);
      src: url('fonts/junicode/Junicode-Italic.ttf') format("truetype");
      font-weight: normal;
      font-style: italic;}

    @font-face {
      font-family: "Foulis Greek";
      src: url( fonts/junicode/FoulisGreek.ttf);
      src: url('fonts/junicode/FoulisGreek.ttf') format("truetype");
      font-weight: normal;
      font-style: italic;}
    
    /* Biolinum */
    
    @font-face {
      font-family: "Biolinum";
      src: url( fonts/biolinum/LinBiolinum_Rah.ttf);
      src: url('fonts/biolinum/LinBiolinum_Rah.ttf') format("truetype");
      font-weight: normal;
      font-style: normal;}

    @font-face {
      font-family: "Biolinum";
      src: url( fonts/biolinum/LinBiolinum_RIah.ttf);
      src: url('fonts/biolinum/LinBiolinum_RIah.ttf') format("truetype");
      font-weight: normal;
      font-style: italic;}

    @font-face {
      font-family: "Biolinum";
      src: url( fonts/biolinum/LinBiolinum_RBah.ttf);
      src: url('fonts/biolinum/LinBiolinum_RBah.ttf') format("truetype");
      font-weight: bold;
      font-style: bold;}

    /* Crimson */
    @font-face {
      font-family: "Crimson";
      src: url( fonts/crimson/Crimson-Roman.otf);
      src: url('fonts/crimson/Crimson-Roman.otf') format("opentype");
      font-weight: normal;
      font-style: normal;}
    
    @font-face {
      font-family: "Crimson";
      src: url( fonts/crimson/Crimson-Italic.otf);
      src: url('fonts/crimson/Crimson-Italic.otf') format("opentype");
      font-weight: normal;
      font-style: italic;}

:root {
  --header-blue: #2f4858;
  --paper-beige: #fff4e7;
  --music-beige: #f8f7f5;
  --background-beige: #ecdbbf;
  --paper-shadow: #88837a;
  --margin-grey: rgb(99, 99, 99);

  --edition-font: "Crimson";
  --site-font: "Biolinum";
  --margin-font: "Crimson";

  --meta-fontsize: 0.9rem;
  --comment-fontsize: 0.8rem;
}

html {
  max-width: 100%;
  height: 100vh;
  min-height: 100vh;
  overflow: visible;
  overflow-x: hidden;  /* Overflow cannot be hidden or else position:sticky does not work */
  font-family: var(--site-font);
  font-size: 1.45vw;
  box-sizing: border-box;}

body {
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  /* background-color: #ecdbbf;} */
  background-color: var(--paper-beige);}

@media only screen and (max-width: 1100px) {
  html{ font-size: 1.8vw;
    overflow-x: hidden;}
}

@media only screen and (max-width: 600px) {
  html{ font-size: 5vw;
    overflow-x: hidden;}
}

/* ---------------- Buttons ---------------- */

.closebtn {
  float: inline-end;
  border-radius: 4px;}

/*  ---------------- Links ---------------- */

a {
  font-feature-settings: "smcp";
  color: inherit;
  letter-spacing: 0.08em;
  /* color: var(--header-blue); */
  text-decoration: none;}

a:visited {
  color: inherit;
}

a:hover {text-shadow: 2px 2px 4px var(--paper-shadow);}

a:visited {color: inherit};

button:hover {box-shadow: 2px 2px 4px var(--paper-shadow);}

/* .grc {font-family: 'Foulis Greek';} */

/* ---------------- The Header ---------------- */

@media screen and (min-width: 600px) {
  header {
    max-height: 0.8in;
    position: fixed; 
    top: 0;
    z-index: 2;
    width: 100%;
    display: block;
    color: #efe4d8;
    background-color: var(--header-blue);
    transition: top 0.4s;
    font-size: var(--meta-fontsize);}

  header #container {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;}

  /* Note that the header elements are the only ones given in fixed widths */

  header #container h1{
    place-self: center stretch;
    margin: 0;
    padding: 1rem;
    text-align: center;
    font-size: 30px;
    font-family: var(--edition-font);
    letter-spacing: 0.1em;}

  #container nav.main {
    grid-column: 8 / 16;
    place-self: center stretch;
    display: flex;
    max-width: 100%;
    clear: both;
    justify-content: space-around;
    bottom: 0;}

  header #container nav.main a {
    padding: 0.4rem;
    margin: 0;
    border-top: 1px solid var(--paper-beige);
    border-bottom: 1px solid var(--paper-beige);
    color: #efe4d8;}

  #container .hamburger {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  header {
    height: 0.5in;
    position: fixed; 
    top: 0;
    z-index: 2;
    width: 100%;
    display: block;
    color: #efe4d8;
    background-color: var(--header-blue);
    transition: top 0.4s;}

  /* Note that the header elements are the only ones given in fixed widths */

  header #container h1{
    display: inline;
    position: relative;
    max-width: 70%;
    line-height: 0.5in;
    text-align: left;
    padding-left: calc(100vw / 13);
    font-size: 8vw;
    font-family: var(--edition-font);
    letter-spacing: 0.1em;}

  

  header #container nav.main a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #efe4d8;}

  header #container nav.main {display: none;}

  header #container a.hamburger {
    color: #efe4d8;
    float: right;
    display: block;
    padding-right: calc(100vw / 13);
    line-height: 0.5in;
    font-size: 8vw;
    color: #efe4d8;}

  header #container .hamburger {display: none;}

  header #container nav.main.responsive a.hamburger {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 8vw;}

  header #container nav.main.responsive {
    position: relative;
    width: 100%;
    display: block;
    text-align: left;
    color: #efe4d8;
    background-color: var(--header-blue);
    transition: 0.4s;}
}

/* ---------------- Footer  ---------------- */
footer {
  z-index: 2;
  grid-column-start: 1;
  grid-column-end: 25;
  position: relative;
  height: 0.4in;
  width: 100%;
  bottom: 0;
  color: #efe4d8;
  background-color: var(--header-blue);}

footer p {
  margin: 0;
  padding: 0.2rem;
  text-align: center;
  vertical-align: middle;
  font-size: var(--meta-fontsize);}

footer .grc {
  font-family: var(--edition-font);
}

em {font-style: italic;}

/* =======================================================================================  Panel  ============*/

.panel #closer {
  /* grid-area: button; */
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  display: flex;
  justify-content: center;
  align-items: center;}

.panel #content {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  font-size: var(--meta-fontsize);
}

.panel .closebtn {
  position: relative;
  float: left;
  height: 2.5vh;
  width: 2.5vh;
  border-radius: 50%;
  color: var(--paper-beige);
  background-color: var(--header-blue);
  text-align: center;
  font-size: 1.8vh;
  overflow: hidden;}

.panel .closebtn:hover {
  box-shadow: 2px 2px 4px var(--paper-shadow);}

button.panel {
  position: fixed;
  top: 50%;
  left: 0;
  border: none;
  color: var(--paper-beige);
  background-color: var(--header-blue);
  border-radius: 50%;
  font-family: inherit;
  font-size: 5vh;
  cursor: pointer;
  text-align: right;
  height: 6vh;
  width: 6vh;
  border-radius: 0 150px 150px 0;
  transform: translate(-3vh);
  box-shadow: 5px 5px 20px var(--paper-shadow);}

@media screen and (min-width: 1100px) {
  .panel {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    background-color: var(--background-beige);
    overflow-x: hidden;
    transition: all 0.5s linear;
    display: grid;
    grid-template-columns: 4.16vw auto 4.16vw;
    grid-template-rows: 0.4in 0.4in auto;
    box-shadow: 7px 7px 25px #31302f;}

  #noteArea {
    z-index: 0;
    width: inherit;
    height: inherit;
    position: inherit;
    grid-column: 17 / 25;
    background-color: inherit;
    box-shadow: none;
    display: grid;
    grid-template-columns: 4.16vw auto 4.16vw;
    grid-template-rows: 4.16vw auto 4.16vw;}
  
  .panel #notesContent {
    grid-column: 1 / 4;
    margin-top: 0.8in;
    height: 100vh;
    padding-top: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;}

  .panel#noteArea #closer {
    display: none;
  }
}

@media screen and (min-width: 600px) and (max-width: 1100px) {
  .panel {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    background-color: #b9bfa3;
    overflow-x: hidden;
    transition: all 0.5s linear;
    display: grid;
    grid-template-columns: 4.16vw auto 4.16vw;
    grid-template-rows: 0.4in 0.4in auto;
    box-shadow: 7px 7px 25px #31302f;}

  #optionsPanel {
    z-index: 5;
  }

  #notesButton {
    position: fixed;
    top: 50%;
    left: 100%;
    border: none;
    color: var(--paper-beige);
    background-color: var(--header-blue);
    font-family: inherit;
    font-size: 5vh;
    cursor: pointer;
    text-align: right;
    height: 6vh;
    width: 6vh;
    border-radius: 150px 150px 150px 150px;
    transform: translate(-3vh);
    box-shadow: 5px 5px 20px var(--paper-shadow);}
  
  #noteArea {width: 0;}
  
  .panel #notesContent {
    overflow: visible;
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;}
  
}

@media screen and (max-width: 600px) {
  .panel {
    grid-column: 1 / 8;
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    background-color: #b9bfa3;
    overflow-x: hidden;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    transition: all 0.4s linear;
    display: grid;
    grid-template-columns: 8vh auto 8vh;
    grid-template-rows: 0.4in auto;
    grid-template-areas:  ". . button"
                          ". textcontent .";
    box-shadow: 7px 7px 25px #31302f;}

   .panel#noteArea {
      margin-top: 100%;
      animation-direction: reverse;
  }
  
  .panel #closer {
    grid-area: button;
    display: flex;
    justify-content: center;
    align-items: center;}

  .panel#noteArea #closer {
    display: none;}
  
  .panel #content {grid-area: textcontent;}
  
  .panel .closebtn {
    position: relative;
    float: left;
    height: 6vh;
    width: 6vh;
    border-radius: 50%;
    color: var(--paper-beige);
    background-color: var(--header-blue);
    text-align: center;
    font-size: 5vh;
    overflow: hidden;}
  
  .closebtn:hover {
    box-shadow: 2px 2px 4px var(--paper-shadow);}
  
  button.panel {
    position: fixed;
    top: 90%;
    left: 10%;
    border: none;
    color: var(--paper-beige);
    background-color: var(--header-blue);
    border-radius: 50%;
    font-family: inherit;
    padding: 0.7vh;
    cursor: pointer;
    text-align: right;
    height: 6vh;
    width: 6vh;
    box-shadow: 5px 5px 20px var(--paper-shadow);
    font-size: 0.8rem;}

  #notesButton {
    position: fixed;
    top: 90%;
    left: 90%;
    border: none;
    color: var(--paper-beige);
    background-color: var(--header-blue);
    font-family: inherit;
    font-size: 5vh;
    cursor: pointer;
    text-align: right;
    height: 6vh;
    width: 6vh;
    border-radius: 150px 150px 150px 150px;
    box-shadow: 5px 5px 20px var(--paper-shadow);}

  .panel #notesContent {
    overflow: visible;
    overflow-x: visible;
    grid-column: 1 / 4;
    grid-row: 1 / 4;
    padding-top: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;}
}

  

/* ====================================================================================  Chapter  ============*/

  .chapter {
    grid-column-start: 1;
    grid-column-end: 25;
    min-height: calc(100vh - 0.4in);
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    background-color: var(--background-beige);
    font-family: var(--edition-font);
    line-height: 1.4;
    font-feature-settings:"liga", "dlig", "kern", "onum";
  }
  
  .chapter h1, .chapter h2, .chapter h3, .chapter h4, .chapter h5, .chapter h6 {
    margin: 0.7em 0 0.2em 0;
    /* font-family: var(--headings-font); */
    font-feature-settings: "smcp";
    letter-spacing: 0.075em;
    line-height: normal;}
  
  .chapter h1 {font-size: 5rem;} .chapter h2 {font-size: 3rem;} .chapter h3 {font-size: 2.4rem;} 
  .chapter h4 {font-size: 2rem;} .chapter h5 {font-size: 1.5rem;} .chapter h6 {font-size: 1rem;}

  .chapter p {
    font-family: inherit;}
  
  .chapter tei-title {
    font-style: italic;}
  
  .chapter .pb {
    text-align: right;
    color: var(--header-blue);}
  
  tei-term, .term {
    font-size: inherit;
    font-style: inherit;
    font-feature-settings: inherit;}
  
  .meiHead {
    padding: 0.3em;
    text-align: center;
    font-size: 1.4rem;}

  @media only screen and (max-width: 600px) {
    .chapter h1 {font-size: 3rem;} .chapter h2 {font-size: 2rem;} .chapter h3 {font-size: 1.6rem;} 
    .chapter h4 {font-size: 1.2rem;} .chapter h5 {font-size: 1rem;}
  }
  
  /* ----------------- The "Page" ----------------- */
  
  .body-text {
    z-index: 1;
    grid-column: 2 / 17;
    overflow: visible;
    padding-top: 0.8in;
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    background-color: var(--paper-beige);
    box-shadow: 5px 5px 20px #88837a;
    font-size: 1rem;}
  
  .text {
    overflow: visible;
    grid-column: 1 / 16;
    margin: 6rem 12.48vw 6rem 8.32vw;}

  .commentLink {
    font-style: normal;
    color: darkred;
  }

  .commentLink a:visited {
    color: darkred;
  }

  @media only screen and (max-width: 1100px) {
    .body-text { grid-column: 2 / 24;
      overflow-x: hidden;
      display: grid;
      grid-template-columns: repeat(22, 1fr);}
    .text {
      grid-column: 1 / 20;}
  }

  @media only screen and (max-width: 600px) {
    .body-text { grid-column: 1 / 25;
      overflow-x: hidden;}
    .text {
      grid-column: 1 / 25;}
  }
  
  /* ----------------- Music ------------------- */

  .music {
    background-color: var(--music-beige);
    border: 1px solid var(--header-blue);
  }

  /* ----------------- Margins ----------------- */
  
  .margin {
    float: right;
    width: 9.72vw;
    margin-right: -25%;
    position: relative;
    clear: both;
    color: var(--margin-grey);
    font-family: var(--margin-font);
    font-size: var(--comment-fontsize);
    font-style: italic;
    line-height: normal;}

  .margin em {
    font-style: normal;}

  @media only screen and (max-width: 1100px) {
    .margin {margin-right: -30%;}
  }
  
  /* ----------------- Tooltips ----------------- */
  
  .tooltip {
    position: relative;}
  
  .tooltip .tiptext {
    visibility: hidden;
    max-width: max-content;
    padding: 0.15rem 0.2rem 0.15rem 0.2rem;
    background-color: var(--background-beige);
    font-size: var(--comment-fontsize);
    text-align: center;
    border-radius: 4px;
    border: 1px solid var(--header-blue);
    box-shadow: 5px 5px 5px #888;
    position: absolute;
    bottom: 100%;
    left: 50%;
    z-index: 2;} 
  
  .tooltip:hover .tiptext {
    visibility: visible;} 
  
  /* ----------------- Tranlsation Buttons ----------------- */
  
  .transl-button {
    overflow: visible;
    height: 2.5rem;
    width: 2.5rem;
    margin-left: -15%;
    transform: translateY(-2.5rem);}
  
  button.transl {
    border: none;
    color: var(--paper-beige);
    background-color: var(--header-blue);
    border-radius: 4px;
    font-family: inherit;
    cursor: pointer;
    text-align: right;
    height: 2vh;
    width: 2vh;}

  @media only screen and (max-width: 1100px) {
    .transl-button{ 
      margin-left: -9%;}
  }

  @media only screen and (max-width: 600px) {
    .transl-button{ 
      margin: 1em;
      transform: none;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-content: space-around;
      align-items: center;}

    button.transl {
      border-radius: 8px;
      height: 4vh;
      width: 4vh;
    }
  }
  
  /* ----------------- Notes ----------------- */
 
  .note {
    z-index: 1;
    overflow: hidden;
    position: sticky;
    /* top: calc(0.8in + 6rem); */
    place-self: stretch;
    display: grid;
    grid-template-rows: 2.7vh auto 2.7vh;
    grid-template-areas:  " title"
                          "body"
                          "footer";
    height: min-content;
    margin: 0 4.1vw 0 4.1vw;
    margin-bottom: 1.6rem;
    background-color: var(--paper-beige);
    border: 1px solid var(--header-blue);
    border-radius: 4px;
    box-shadow: 5px 5px 20px var(--paper-shadow);
    font-size: var(--comment-fontsize);
    }

  .comment {
    font-family: var(--site-font);
  }

  .comment h5, .comment h6 {
    font-feature-settings: normal;
    font-weight: bold;
  }

  .comment .commentAuthor {
    font-style: italic;
  }
  
  .noteTitle, .noteBody, .noteFooter {
    overflow: hidden;
    margin: 0;
    padding: 0.3rem;
    padding-left: 1rem;
    font-size: var(--comment-fontsize);}
  
  .noteBody {
    grid-area: body;
    min-height: 4vh;
    padding: 0.5rem 2rem 0.5rem 1rem;}
  
  .noteTitle, .noteFooter {
    color: #efe4d8;
    background-color: var(--header-blue);}
  
  .noteTitle {
    grid-area: title;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;}
  
  .noteFooter{
    grid-area: footer;
    margin: 0;
    display: flex;
    align-items: center;}
  
  .noteBody .margin {
    display: none;}
  
  .note .closebtn {
    position: relative;
    height: 2vh;
    width: 2vh;
    color: var(--header-blue);
    background-color: #efe4d8;
    text-align: center;
    font-size: 1.8vh;
    overflow: hidden;
    border: none;
    cursor: pointer;
    padding-top: 0vh;
    padding-bottom: 1vh;}

  @media only screen and (max-width: 600px) {
    .note {
      margin: 0;
      width: 100%;
      display: grid;
      grid-template-rows: 0.4in auto;}
    .noteTitle{height: 0.4in;}
    .note .closebtn{
      position: relative;
      float: left;
      height: 6vh;
      width: 6vh;
      border-radius: 50%;
      color: var(--header-blue);
      background-color: var(--paper-beige);
      text-align: center;
      font-size: 5vh;
      overflow: hidden;}

    .noteBody {overflow: scroll;}

    .noteFooter {
      min-height: 1rem;
    }
  }

  @media only screen and (min-width: 600px) and (max-width: 1100px) {
    .note {
      margin: 0;
      margin-bottom: 1rem;}
    
    .note p {
      font-size: 1rem;}
  }

  @media only screen and (min-width: 1100px) {
    #notesButton {
      display: none;}
  }