/* Whole Page */
@font-face {
  font-family: "Junicode";
  src: url( fonts/junicode/Junicode.ttf);
  src: url('fonts/junicode/Junicode.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
  }
@font-face {
  font-family: "Foulis Greek";
  src: url( fonts/junicode/FoulisGreek.ttf);
  src: url('fonts/junicode/FoulisGreek.ttf') format("truetype");
  font-weight: normal;
  font-style: italic;
  }
@font-face {
  font-family: "Junicode";
  src: url( fonts/junicode/Junicode-Italic.ttf);
  src: url('fonts/junicode/Junicode-Italic.ttf') format("truetype");
  font-weight: normal;
  font-style: italic;
  }

* {
  max-width: 100%;
  overflow: visible;
  /* overflow-x: hidden; */ /* Overflow cannot be hidden or else position:sticky does not work */
  font-family: 'Junicode';
  font-feature-settings:"calt", "liga", "clig", "kern", "onum";
  font-size: 1vw;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #ecdbbf;
}

emph {
  font-style: italic;
}

/* Links */

a {
  color: #2f4858;
  text-decoration: none;
}

a:hover {
  text-shadow: 2px 2px 4px #88837a;
}

button:hover {
  box-shadow: 2px 2px 4px #88837a;
}

/* Buttons */

.closebtn {
  float: inline-end;
  border-radius: 4px;
}

/* The Header */

header {
  max-height: 0.8in;
  position: sticky; 
  top: 0;
  z-index: 1;
  grid-column-start: 1;
  grid-column-end: 25;
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  color: #efe4d8;
  background-color: #2f4858;
}

/* Note that the header elements are the only ones given in fixed widths */

header h1{
  grid-column: 1 / 8;
  /* grid-area: title; */
  place-self: center stretch;
  margin: 0;
  padding: 1rem;
  text-align: center;
  font-size: 30px;
  letter-spacing: 0.1em;
}

header a {
  color: #efe4d8;
}

nav.main {
  grid-column: 8 / 16;
  /* grid-area: navig; */
  place-self: center stretch;
  display: flex;
  max-width: 100%;
  clear: both;
  justify-content: space-around;
  bottom: 0;
}

nav.main ul {
  display: flex;
  flex: 1;
  align-items: stretch;
  justify-content: space-evenly;
  margin: 0;
  padding: 0.3cm 0 0.3cm 0;
  border-top: 1px solid #ecdbbf;
  border-bottom: 1px solid #ecdbbf;
}

nav.main li{
  display: inline;
  list-style-type: none;
  font-size: 15px;
  text-align: center;
  font-style: normal;
}

footer {
  grid-column-start: 1;
  grid-column-end: 25;
  position: sticky; 
  height: 0.4in;
  width: 100%;
  bottom: 0;
  color: #efe4d8;
  background-color: #2f4858;
}

footer p {
  margin: 0;
  padding: 0.2rem;
  text-align: center;
  vertical-align: middle;
}

.grc {
  font-family: 'Foulis Greek';
}

h1 .grc {
  font-size: 30px;
}